<template>
  <div class="container">
    <div class="topbar">
      <div class="h-full">
        <img
          :src="require('@/assets/img/logo-bar-checkouts.svg')"
          class="w-full h-full"
        />
      </div>
      <div class="text-white text-xl w-1/3 text-right font-semibold">
        {{ datetime }}
      </div>
    </div>
    <div class="main">
      <div class="main-left">
        <div class="btn-wrapper" v-if="isView(View.Checkout)">
          <div class="sidebar-btn">
            <Button @click="goBack"
              ><span class="text-3xl"><Fa icon="arrow-left" /></span
            ></Button>
          </div>
          <span class="uppercase text-center leading-5 mt-3">Back</span>
        </div>
        <template v-else>
          <div class="btn-wrapper" v-if="false">
            <div class="sidebar-btn">
              <Button @click="addItem"
                ><span class="text-3xl"><Fa icon="barcode" /></span
              ></Button>
            </div>
            <span class="uppercase text-center leading-5 mt-3"
              >Random Item Gen</span
            >
          </div>
          <div class="btn-wrapper" v-if="false">
            <div class="sidebar-btn">
              <Button @click="addItemSame"
                ><span class="text-3xl"><Fa icon="barcode" /></span
              ></Button>
            </div>
            <span class="uppercase text-center leading-5 mt-3"
              >Add QTY randomly</span
            >
          </div>
          <div
            class="btn-wrapper"
            :class="{ 'disable-side-btn': typeof activeItem !== 'number' }"
          >
            <div class="sidebar-btn">
              <Button color="blue" @click="removeItem"
                ><span class="text-3xl"><Fa icon="trash" /></span
              ></Button>
            </div>
            <span class="uppercase text-center leading-5 mt-1 font-semibold"
              >remove</span
            >
          </div>
        </template>
        <div
          class="h-80 flex flex-col items-center space-y-5 justify-center"
          :class="{ 'disable-side-btn': !isScrollable }"
        >
          <div class="sidebar-btn">
            <Button color="gray" @click="onScroll(Direction.Up)"
              ><Fa icon="arrow-up"
            /></Button>
          </div>
          <div class="sidebar-btn">
            <Button color="gray" @click="onScroll(Direction.Down)"
              ><Fa icon="arrow-down"
            /></Button>
          </div>
        </div>
      </div>
      <div class="main-center flex flex-col">
        <div class="text-4xl font-bold text-gray-600 capitalize px-8">
          {{ mainTitle }}
        </div>
        <div class="w-full h-12 px-8 py-3 flex text-center font-semibold">
          <div class="flex-grow text-left ml-2">Item</div>
          <div class="w-12">Qty</div>
          <div class="w-28">Unit Price</div>
          <div class="w-28">Amount</div>
        </div>
        <div id="items" class="overflow-y-auto flex-grow px-6" ref="itemsRef">
          <ItemCard
            v-for="(item, index) in cart.items"
            :key="item.pid"
            :item="item"
            @click="setActiveItem(index)"
            :isActive="index === activeItem"
          />
          <!-- <ItemCard
            v-for="(item, index) in checkoutItems"
            :key="item.barcode"
            :item="item"
            @click="setActiveItem(index)"
            :isActive="index === activeItem"
          /> -->
        </div>
      </div>
      <div class="main-right">
        <div class="right-top">
          <div class="w-full h-28 flex justify-center items-center">
            <img
              :src="require('@/assets/img/logo-main-checkouts.svg')"
              class="object-contain"
            />
          </div>
          <div class="w-full flex justify-around space-x-3">
            <div class="items-summary">
              <span>No. of items</span><span>{{ totalItems }}</span>
            </div>
            <div class="items-summary">
              <span>Total Amount</span><span>${{ totalAmount }}</span>
            </div>
          </div>
          <div>
            <MemberCard v-if="memberProfile" :member="memberProfile" />
          </div>
        </div>

        <div class="right-bottom" :class="{ disabled: cart.isEmpty }">
          <div class="w-full h-50" v-if="isView(View.Base)">
            <Button
              v-if="!memberProfile"
              color="green"
              @click="showMemberModal = true"
              ><span class="capitalize"
                >Already Marathon Sports Member?</span
              ></Button
            >
          </div>
          <div class="w-full h-32" v-if="isView(View.Base)">
            <Button @click="setView(View.Checkout)">Checkout</Button>
          </div>
          <div v-else class="w-full">
            <p
              class="
                capitalize
                text-center text-gray-600
                font-bold
                text-lg
                mb-3
              "
            >
              Choose payment methods
            </p>
            <div class="grid grid-cols-2 gap-4">
              <template v-for="p in paymentMethods" :key="p.name">
                <div class="h-32">
                  <Button color="light" @click="setPaymentMethod(p.pyid)"
                    ><div class="flex flex-col items-center">
                      <img
                        :src="
                          require(`@/assets/img/payment/${getPaymentIcon(
                            p.code
                          )}.svg`)
                        "
                        class="
                          w-full
                          h-7
                          object-contain
                          fill-current
                          text-white
                        "
                      />
                      <p class="text-lg capitalize mt-1">{{ p.name }}</p>
                    </div></Button
                  >
                </div>
              </template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <MemberRequestModal
    :setMemberProfile="setMemberProfile"
    :show="showMemberModal"
    @close="showMemberModal = false"
  />
  <PaymentModal
    :resetAll="resetAll"
    :checkoutItems="cart.items"
    :amount="totalAmount"
    :memberId="memberProfile && memberProfile.mid"
    :paymentMethod="selectedPaymentMethod"
    :show="!!selectedPaymentMethod"
    @close="clearPaymentMethod"
  />
</template>

<script lang="ts">
import {
  computed,
  ComputedRef,
  defineComponent,
  onMounted,
  reactive,
  ref,
  watch,
} from "vue";
import dayjs from "dayjs";
import {
  Button,
  ItemCard,
  MemberRequestModal,
  MemberCard,
  PaymentModal,
} from "@/components";
import {
  CartItem,
  CheckoutItem,
  MemberProfile,
  PaymentMethod,
  Product,
} from "@/typings";
// import { checkoutItemsInit, paymentMethodsInit } from "@/helper/sampleData";
import { paymentImageMap } from "@/helper";
import API from "@/API";
import { useStore } from "vuex";

enum Direction {
  Up,
  Down,
}

enum View {
  Empty,
  Base,
  Checkout,
}

interface Cart {
  items: CartItem[];
  isEmpty: ComputedRef<Boolean>;
}

export default defineComponent({
  components: {
    Button,
    ItemCard,
    MemberCard,
    MemberRequestModal,
    PaymentModal,
  },
  setup() {
    const store = useStore();
    const showMemberModal = ref<boolean>(false);
    const currentView = ref<View>(View.Base);
    const isReaderInput = ref<boolean>(false);
    const code = ref<string>("");
    const checkoutItems = ref<CheckoutItem[]>([]);
    const productList = computed<Product[]>(() => {
      return store.state.productList;
    });
    const paymentMethods = computed<PaymentMethod[]>(() => {
      return store.state.paymentMethods;
    });

    const paymentMethodId = ref<string>();
    const memberProfile = ref<MemberProfile>();
    const itemsRef = ref<HTMLDivElement>();
    const timeoutId = ref();
    const isScrollable = ref<boolean>();
    const activeItem = ref<number>();
    const datetime = ref<string>("");
    const cart: Cart = reactive({
      items: [],
      isEmpty: computed(() => {
        return cart.items.length === 0;
      }),
    }) as any;

    // getter
    const mainTitle = computed(() => {
      switch (currentView.value) {
        case View.Checkout:
          return `Checkout (${totalItems.value})`;
        case View.Base:
          return `Shopping Cart (${totalItems.value})`;
        default:
          return "";
      }
    });

    // setter
    const setActiveItem = (index: number) => {
      activeItem.value = index;
    };

    const setMemberProfile = (profile?: MemberProfile) => {
      memberProfile.value = profile;
    };

    const setPaymentMethod = (id?: string) => {
      console.log(id, 'id')
      paymentMethodId.value = id;
    };

    const setView = (view: View) => {
      currentView.value = view;
    };

    const isView = (view: View) => {
      return currentView.value === view;
    };

    const getPaymentIcon = (code: string) => {
      return paymentImageMap[code] || null;
    };

    watch(activeItem, () => {
      clearTimeout(timeoutId.value);

      timeoutId.value = setTimeout(() => {
        activeItem.value = undefined;
      }, 4000);
    });

    watch(
      () => cart.items.length,
      (length, prevLength) => {
        const el = itemsRef.value as HTMLDivElement;
        if (!el) return;
        // enable scrolling button
        isScrollable.value = length * 89 > el.clientHeight;

        // scroll To bottom only if new items added
        if (prevLength && length > prevLength) {
          setTimeout(() => {
            el.scrollTo({ top: el.scrollHeight, behavior: "smooth" });
          }, 100);
        }
      }
    );

    // computed
    const totalAmount = computed(() => {
      return cart.items.reduce((acc, obj) => {
        return acc + obj.qty * obj.price;
      }, 0);
    });

    const totalItems = computed(() => {
      return cart.items.reduce((acc, obj) => {
        return acc + obj.qty;
      }, 0);
    });

    const selectedPaymentMethod = computed(() => {
      console.log('selected')
      if (!paymentMethods.value) return null;
 
      if (!paymentMethodId.value) return null

      const s =  paymentMethods.value.find((p) => p.pyid === paymentMethodId.value)
      console.log(s, paymentMethodId.value)
      return s || null;
    });

    const clearPaymentMethod = () => {
      setPaymentMethod(undefined);
    };

    const removeAllItems = () => {
      cart.items = [];
    };

    const removeItem = () => {
      const index = activeItem.value;
      // console.log("remove", index);
      if (index === undefined) return;

      if (!cart.items[index]) return;

      if (cart.items[index].qty > 1) {
        // console.log("minus");
        cart.items[index].qty -= 1;
      } else {
        // console.log("remove");
        cart.items = cart.items.filter((_, i) => i !== index);
        activeItem.value = undefined;
      }
    };

    const addItem = () => {
      const randomIndex = Math.ceil(Math.random() * 100);
      const randomItem = productList.value[randomIndex];
      cart.items.push({
        pid: randomItem.pid,
        qty: 1,
        price: randomItem.price,
      });
    };

    const addItemSame = () => {
      const randomIndex = Math.ceil(Math.random() * (cart.items.length - 1));
      cart.items[randomIndex].qty += 1;
    };

    const onScroll = (direction: Direction) => {
      const el = itemsRef.value as HTMLDivElement;
      const step = 60;
      if (direction === Direction.Up && el.scrollTop > 0) {
        // el.scrollTo(0, el.scrollTop - 40);
        el.scrollTo({
          top: el.scrollTop - step,
          behavior: "smooth",
        });
        return;
      }

      if (direction === Direction.Down && el.scrollTop < el.scrollHeight) {
        el.scrollTo({
          top: el.scrollTop + step,
          behavior: "smooth",
        });
        return;
      }
    };

    const goBack = () => {
      switch (currentView.value) {
        case View.Checkout:
          setView(View.Base);
          break;
      }
    };

    const fetchSystemProperty = async () => {
      try {
        store.commit("setIsLoading", true);
        // paymentMethods.value = paymentMethodsInit;
        const { response: payments } = await API.fetchAllPayments();
        if (payments) {
          const list = payments.map((p: any) => {
            return {
              pyid: p.payment_id,
              code: p.payment_code,
              name: p.payment_name,
              type: p.payment_type,
            };
          });
          store.commit("setPaymentMethods", list);
          // paymentMethods.value = payment;
        }

        const { response: list } = await API.fetchAllProducts();
        if (list) {
          // productList.value = list
          store.commit("setProductList", list);
        }
      } catch (err) {
        // console.log(err);
      } finally {
        store.commit("setIsLoading", false);
      }
    };

    const resetAll = () => {
      removeAllItems();
      setMemberProfile();
      setView(View.Base);
    };

    const clearInput = () => {
      // console.log("clear");
      code.value = "";
    };

    const onPress = (val: string) => {
      // console.log(val)
      code.value += val.toString();
    };

    const addProductToCart = () => {
      const barcode = code.value;
      // console.log(code.value);
      const item = productList.value.find((p) => (p.product_barcode = barcode));
      // console.log(item?.product_name);
      if (item) {
        // check whether the item is already exist, if it is, just increase the qty
        if (cart.items.length) {
          const existItemIndex = cart.items.findIndex(
            (i) => i.pid === item.pid
          );
          // console.log(existItemIndex)
          if (existItemIndex != -1) {
            cart.items[existItemIndex].qty += 1;
          } else {
            cart.items.push({
              pid: item.pid,
              qty: 1,
              price: item.price,
            });
          }
        } else {
          cart.items.push({
            pid: item.pid,
            qty: 1,
            price: item.price,
          });
        }
      }

      //       const addItem = () => {
      //   const randomIndex = Math.ceil(Math.random() * 100);
      //   const randomItem = productList.value[randomIndex];
      //   cart.items.push({
      //     pid: randomItem.pid,
      //     qty: 1,
      //     price: randomItem.price,
      //   });
      // };

      clearInput();
    };

    onMounted(() => {
      setInterval(() => {
        datetime.value = dayjs().format("DD MMM YYYY   hh:mm:ss A");
      }, 1000);

      window.addEventListener("keypress", (e) => {
        if (!isReaderInput.value) {
          clearInput();
        }

        if (typeof parseInt(e.key) === "number" && e.key !== "Enter") {
          isReaderInput.value = true;
          onPress(e.key);
        } else {
          isReaderInput.value = false;
          addProductToCart();
          // fetch product
        }
      });

      fetchSystemProperty();
    });

    onMounted(() => {
      // mount barcode input listener
      window.addEventListener("keypress", (e) => {
        if (!isReaderInput.value) {
          clearInput();
        }

        if (typeof parseInt(e.key) === "number" && e.key !== "Enter") {
          isReaderInput.value = true;
          onPress(e.key);
        } else {
          isReaderInput.value = false;
          addProductToCart();
          // fetch product
        }
      });
    });
    return {
      // enum
      Direction,
      View,

      // state
      productList,
      cart,

      datetime,
      checkoutItems,
      totalAmount,
      totalItems,
      activeItem,
      itemsRef,
      isScrollable,
      currentView,
      memberProfile,
      paymentMethods,
      showMemberModal,
      mainTitle,
      selectedPaymentMethod,
      paymentMethodId,

      // action
      clearPaymentMethod,
      setPaymentMethod,
      getPaymentIcon,
      addItem,
      addItemSame,
      setActiveItem,
      isView,
      removeItem,
      onScroll,
      setMemberProfile,
      setView,
      goBack,
      resetAll,
    };
  },
});
</script>

<style lang="postcss" scoped>
.container {
  @apply relative w-screen h-screen mx-auto max-w-none;

  .topbar {
    @apply bg-black h-12 fixed top-0 left-0 right-0 flex justify-between items-center py-3 px-6;
  }

  /* .back {
    @apply fixed top-7 left-7 w-20 h-20;
  } */
}

.main {
  @apply w-full h-full flex flex-row;

  > div {
    @apply pt-20;
  }

  .main-left {
    @apply px-2 w-28 flex flex-col justify-between items-center shadow-lg;

    .sidebar-btn {
      aspect-ratio: 1;

      @apply w-16 transition-all;
    }

    .btn-wrapper {
      @apply flex flex-col items-center transition-all;
    }

    .disable-side-btn {
      @apply opacity-10 pointer-events-none;
    }
  }

  .main-center {
    @apply flex-grow bg-gray-100;
  }

  .main-right {
    @apply w-96 shadow-lg px-6 pb-6 flex flex-col justify-between;

    .right-top {
      @apply space-y-10;
    }

    .right-bottom {
      @apply flex flex-col space-y-4;

      &.disabled {
        @apply pointer-events-none opacity-60;
      }
    }

    .items-summary {
      @apply flex flex-col text-5xl font-semibold text-center capitalize;

      span:first-child {
        @apply text-lg text-gray-400;
      }
    }
  }
}
</style>
