<template>
  <div class="container">
    <img :src="require('@/assets/img/logo-main-checkouts.svg')" class="w-10/12" />
    <div class="form">
      <div class="inputs">
        <label for="username">login</label>
        <input type="text" name="username" />
        <label for="password">password</label>
        <input type="password" name="password" />
      </div>
      <Button @click="onSubmit">Login</Button>
    </div>
  </div>
  <div class="statusbar">
    <div>
      Device ID: <span>{{ status.deviceId }}</span>
    </div>
    <div>
      Shop: <span>{{ status.shopId }}</span>
    </div>
    <div>
      IP address: <span>{{ status.ipAddress }}</span>
    </div>
    <div>
      Connection Status:
      <span :class="{ connStatus: true, online: status.isOnline }"
        >{{ status.isOnline ? "Online" : "Offline" }}
        <div class="connIndicator"
      /></span>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, onMounted, reactive } from "vue";
import { Button } from "@/components";
import { useRouter } from "vue-router";
import { useStore } from "vuex";

export default defineComponent({
  components: {
    Button,
  },
  setup() {
    const store = useStore()
    const router = useRouter()
    const status = reactive({
      deviceId: "18123212GHDSFG",
      shopId: "ST001",
      ipAddress: "192.168.22.4",
      isOnline: true,
    });

    const input = reactive({
      username: "",
      password: "",
    });

    const onSubmit = () => {
      try {
        // api
        // console.log("login", input);
        store.commit('setAuthenticated', true)
        router.push('/')
      } catch (e) {
        // console.log(e);
        input.password = "";
      }
    };

    onMounted(() => {
      // console.log(window.location);
    });

    return { status, input, onSubmit };
  },
});
</script>

<style lang="postcss" scoped>
.container {
  @apply flex flex-col h-screen w-8/12 md:w-5/12 max-w-2xl mx-auto py-10 space-y-10 justify-center items-center;
}

.form {
  @apply flex flex-col w-10/12;

  .inputs {
    @apply flex flex-col mb-7;

    label {
      @apply uppercase font-semibold pb-2 text-gray-700;
    }

    input {
      @apply mb-5 px-3 py-2 text-2xl bg-gray-100 h-14 outline-none focus:ring-4 focus:ring-main transition-all;
    }
  }
}

.btn {
  @apply text-2xl w-full transform origin-top uppercase font-semibold text-white p-3 bg-main border-b-8 border-main-dark transition-all;

  &:hover,
  &:active {
    @apply border-b-4;
  }
}

.statusbar {
  @apply fixed flex items-center px-5 bottom-0 w-full bg-black h-10 text-white;

  div {
    @apply mr-10;
  }

  div:last-of-type {
    @apply flex-grow text-right mr-0;
  }

  span.connStatus {
    @apply text-red-600;

    > div {
      @apply bg-red-600;
    }

    &.online {
      @apply text-brightgreen;

      > div {
        @apply inline-block w-3 h-3 m-0 rounded-full bg-brightgreen;
      }
    }
  }
}
</style>
