<template>
  <div class="h-full w-full flex">
    <button :class="classname" ><slot /></button>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref } from "vue";

export default defineComponent({
  props: {
    color: {
      type: String,
      default: "",
    },
    size: {
      type: String,
      default: "",
    },
  },
  setup(props) {
    const classname = ref(`btn ${props.color} ${props.size}`);

    return { classname };
  },
});
</script>

<style lang="postcss" scoped>
.btn {
  @apply text-2xl w-full transform origin-top uppercase font-semibold text-white p-3 bg-main border-b-10 border-main-dark transition-all;

  &:active {
    @apply border-b-6;
  }

  &.light {
    @apply bg-gradient-to-br from-gray-50 to-gray-200 border-gray-300 text-gray-700 shadow-xl font-medium;

    &:active {
      @apply shadow-lg;
    }
  }

  &.light-gray {
    @apply bg-gray-400 border-gray-500;
  }

  &.gray {
    @apply bg-gray-500 border-gray-700;
  }

  &.blue {
    @apply bg-blue-500 border-blue-700;
  }

  &.green {
    @apply bg-green-500 border-green-600;
  }

  &.sm {
    @apply p-2;
  }
}
</style>
