<template>
  <div class="item-card" :class="{ active: isActive }" v-if="itemDetails">
    <div class="flex-grow flex flex-col">
      <div class="text-sm capitalize">
        <span class="text-gray-700">{{ itemDetails.product_barcode }}</span
        ><span class="ml-6 text-gray-400">{{ itemDetails.brand_name }}</span>
      </div>
      <div class="text-2xl capitalize">{{ itemDetails.product_name }} - <span class="text-lg bold text-gray-700">{{ itemDetails.size_name}}</span></div>
    </div>
    <div class="w-12 text-center text-2xl flex justify-center items-center">
      {{ item.qty }}
    </div>
    <div
      class="
        w-28
        text-center text-2xl
        flex flex-col
        justify-center
        items-center
      "
    >
      <div class="text-gray-400 line-through text-base">
        {{ itemDetails.retail_price ? `$${itemDetails.retail_price}` : "" }}
      </div>
      <div>${{ itemDetails.price }}</div>
    </div>
    <div class="font-bold text-2xl flex items-center justify-center w-28">
      ${{ itemDetails.price * item.qty }}
    </div>
  </div>
</template>

<script lang="ts">
import { computed, defineComponent } from "vue";
// import { CheckoutItem } from "@/typings";
import { useStore } from 'vuex'

export default defineComponent({
  props: ['item', 'isActive'],
  // props: {
  //   item: Object as () => CheckoutItem,
  //   isActive: Boolean,
  // },
  setup(props) {
    const store = useStore()
    const itemDetails = computed(() => {
      if (!store.state.productList) {
        return null
      }
      const d = store.state.productList.find((p: any) => {
        return p.pid === props.item.pid
      })
      return  d
    })

    return { itemDetails }
  }
});
</script>

<style lang="postcss" scoped>
.item-card {
  @apply cursor-pointer w-full bg-white flex shadow-sm mb-3 px-3 py-3
  hover:ring-4 hover:ring-inset ring-blue-300
  transition-all;

  &.active {
    @apply ring-4 ring-inset ring-blue-500 shadow-xl;
  }
}
</style>
