<template>
  <Modal :show="show" disableOverlayClose hideCloseBtn>
    <template #heading>Member</template>
    <template #body>
      <div
        class="w-full h-full py-14 flex flex-col justify-center items-center"
      >
        <h1 class="text-center text-4xl text-gray-500">
          Please present<br />your member QR code
        </h1>
        <div class="w-full h-72 flex justify-center items-center">
          <img
            :src="require('@/assets/img/member-phone-qr.png')"
            class="object-contain w-full h-full"
          />
        </div>
        <div class="w-2/5 h-24 mt-10">
          <Button color="gray" @click="onClose"
            ><div class="flex flex-col justify-center">
              <div>Cancel</div>
              <div class="text-xl">
                {{ countDown }}<span class="ml-1 text-sm">s</span>
              </div>
            </div></Button
          >
        </div>
      </div>
    </template>
  </Modal>
</template>

<script lang="ts">
import { defineComponent, onMounted, ref, watch } from "vue";
import { Modal, Button } from "@/components";
import API from '@/API'
import { MemberProfile } from "@/typings";

export default defineComponent({
  props: ["setMemberProfile", "show"],
  components: {
    Modal,
    Button,
  },
  setup(props, context) {
    const TIME = 60;
    const intervalId = ref();
    const countDown = ref<number>(TIME);

    const onClose = () => {
      context.emit("close");
      clearInterval(intervalId.value);
    };

    watch(
      () => props.show,
      () => {
        if (props.show) {
          countDown.value = TIME;
          startCountDown();
          setTimeout(() => {
            // onClose()
            fetchProfile("123123128");
          }, 3000);
        }
      }
    );

    const startCountDown = () => {
      clearInterval(intervalId.value);
      intervalId.value = setInterval(() => {
        if (countDown.value > 1) {
          countDown.value--;
        }
        if (countDown.value === 1) {
          onClose();
        }
      }, 1000);
    };

    // fetch profile api
    const fetchProfile = async (id: string) => {
      // console.log("id", id);
      // const profile: MemberProfile = {
      //   id: "MA1823123",
      //   name: "Chan Tai Man",
      //   level: "Gold",
      //   points: 9822,
      //   memberUntil: 1667561587,
      // };

      // ASDAFG003
      const code = 'ASDAFG003'
      try {
        const { response: profile } = await API.fetchMemeberProfile(code)
        
        if (profile) {
          props.setMemberProfile({
            mid: profile.member_id,
            name: profile.surname + ' ' + profile.lastname,
            mcode: profile.member_code,
            points: profile.points,
            level: profile.member_level,
            memberUntil: profile.member_until
          });
          // props.setMemberProfile();
          onClose()
        }

      } catch (err) {
        console.log(err)
      }
    };

    return { countDown, onClose };
  },
});
</script>

<style lang="postcss" scoped></style>
