<template>
  <div class="member-card-container">
    <div class="flex justify-between">
      <div class="field">
        <span>member id</span>
        <p>{{ member.mid }}</p>
      </div>
      <div class="w-32 h-auto flex justify-center items-center">
        <img
          :src="require('@/assets/img/logo-marathonsports.png')"
          class="object-contain"
        />
      </div>
    </div>
    <div class="flex justify-between items-end">
      <div class="flex flex-col">
        <div class="field">
          <span>Name</span>
          <p>{{ member.name }}</p>
        </div>
        <div class="field single"><span>type</span> {{ member.level }}</div>
      </div>
      <!-- <div class="field"> -->
      <div class="flex flex-col items-end">
        <span class="font-bold text-2xl text-main">PTS</span>
        <p class="text-5xl">{{ member.points }}</p>
        <!-- </div> -->
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, PropType } from "vue";
import { MemberProfile } from "@/typings";

export default defineComponent({
  props: {
    member: Object as PropType<MemberProfile>,
  },
  setup() {
    return {};
  },
});
</script>

<style lang="postcss" scoped>
.member-card-container {
  @apply flex flex-col p-3 px-4 shadow-sm rounded-sm ring-2 ring-gray-200;

  .field {
    @appply flex flex-col;

    &.single {
      @apply flex flex-row items-center;
    }

    span {
      @apply uppercase text-xs font-bold mr-4 text-main;
    }

    p {
      @apply text-xl mb-2;
    }
  }
}
</style>
