<template>
  <TransitionRoot
    class="modal-container"
    :show="show"
    enter="transition-opacity duration-150"
    enter-from="opacity-0"
    enter-to="opacity-100"
    leave="transition-opacity duration-150"
    leave-from="opacity-100"
    leave-to="opacity-0"
  >
    <!-- <div v-if="show" class="modal-container"> -->
    <div class="overlay" @click="handleClose" />

    <TransitionChild
      class="main"
      enter="transition ease-in-out duration-140 transform"
      enter-from="scale-90"
      enter-to="scale-105 scale-100"
      leave="transition ease-in-out duration-140 transform"
      leave-from="scale-110"
      leave-to="scale-90"
    >
      <!-- <div class="main"> -->
      <div class="heading" v-if="$slots['heading']">
        <slot name="heading" />
      </div>
      <div class="body"><slot name="body" /></div>
      <div class="close-btn" v-if="$slots['heading'] && !hideCloseBtn">
        <Button @click="handleClose" size="sm"
          ><Fa :icon="['fas', 'times']"
        /></Button>
      </div>
      <!-- </div> -->
    </TransitionChild>
    <!-- </div> -->
  </TransitionRoot>
</template>

<script lang="ts">
import { defineComponent, ref } from "vue";
import { Button } from "@/components";
import { TransitionRoot, TransitionChild } from "@headlessui/vue";

export default defineComponent({
  components: {
    Button,
    TransitionRoot,
    TransitionChild,
  },
  props: ['show', 'disableOverlayClose', 'hideCloseBtn'],
  setup(props, context) {
    const handleClose = () => {
      if (props.disableOverlayClose) {
        return;
      }
      context.emit("close");
    };
    return { handleClose };
  },
});
</script>

<style lang="postcss" scoped>
.modal-container {
  @apply absolute w-screen h-screen z-10 top-0 flex justify-center items-center;

  .overlay {
    @apply absolute w-full h-full bg-black opacity-80;
  }

  .main {
    @apply h-4/5 w-3/5 bg-white z-10 shadow-xl relative flex flex-col;

    .heading {
      @apply h-16 w-full
      flex items-center px-4 bg-black capitalize text-white text-3xl font-semibold;
    }

    .body {
      height: calc(100% - 4rem);
      @apply flex-grow w-full;
    }

    .close-btn {
      @apply absolute top-8 right-8 w-14 h-14;
    }
  }
}
</style>
