<template>
  <Modal :show="show" disableOverlayClose hideCloseBtn>
    <template #heading>{{ heading }}</template>
    <template #body>
      <!-- Base -->
      <div
        v-if="isView(View.Base)"
        class="
          w-full
          h-full
          py-14
          flex flex-col
          justify-center
          items-center
          space-y-6
        "
      >
        <div class="flex flex-col items-center">
          <div class="h-14 mb-10">
            <img
              v-if="paymentImageUri"
              :src="paymentImageUri"
              class="w-full h-full object-contain"
            />
          </div>
          <div class="text-6xl text-center flex flex-col">
            <span class="uppercase text-lg font-bold text-gray-500"
              >Amount</span
            >
            <span>${{ amount }} </span>
          </div>
        </div>

        <h1 class="text-center text-3xl text-gray-500">
          <div v-if="getPaymentProperty(type) === 'qr'">
            Please present your<br /><span class="text-main font-bold"
              >{{ getPaymentProperty(name) }} QR code</span
            >
            to the reader
          </div>
          <div v-if="getPaymentProperty(type) === 'nfc'">
            Please put your<br />
            <span class="text-main font-bold">{{
              getPaymentProperty(code) === "apple"
                ? "Apple Device"
                : "Credit Card"
            }}</span>
            near the reader
          </div>
        </h1>
        <div class="w-full h-36 flex justify-center items-center">
          <img
            v-if="paymentMainImageUri"
            :src="paymentMainImageUri"
            class="object-contain w-full h-full"
          />
        </div>
        <div class="w-2/5 h-24 mt-10">
          <Button color="light-gray" @click="onClose"
            ><div class="flex flex-col justify-center">
              <div>Cancel</div>
              <div class="text-xl">
                {{ countDown }}<span class="ml-1 text-sm">s</span>
              </div>
            </div></Button
          >
        </div>
      </div>

      <!-- Success -->
      <div
        v-else
        class="
          flex flex-col
          w-full
          h-full
          py-14
          items-center
          justify-center
          space-y-6
        "
      >
        <template v-if="paymentSuccess">
          <Fa icon="check-circle" class="text-9xl text-green-500" />
          <h1 class="text-green-500 text-4xl">Successful Payment</h1>
          <div class="text-center text-gray-600">
            <p class="text-2xl">Order number</p>
            <p class="text-3xl">{{ paymentSuccess }}</p>
            <p class="mt-4 text-3xl">Thank you for shopping</p>
          </div>
          <div class="w-2/6 h-24">
            <Button color="green">Print Invoice</Button>
          </div>
          <div class="w-2/6 h-24">
            <Button color="gray" @click="onClose">Leave</Button>
          </div>
        </template>

        <template v-else>
          <Fa icon="times-circle" class="text-9xl text-red-600" />
          <h1 class="text-red-600 text-4xl">Failure to Pay</h1>
          <div class="text-center text-gray-600">
            <p class="text-2xl">Payment failed</p>
            <p class="text-3xl">Please try again</p>
          </div>
          <div class="w-2/6 h-24">
            <Button @click="onClose">Try Again</Button>
          </div>
        </template>
      </div>
    </template>
  </Modal>
</template>

<script lang="ts">
import { computed, defineComponent, ref, watch } from "vue";
import { Modal, Button } from "@/components";
import { paymentImageMap } from "@/helper";
import API from "@/API";
// import { PaymentMethod } from "@/types";

enum View {
  Base,
  Result,
}

export default defineComponent({
  props: ["paymentMethod", "show", "amount", "checkoutItems", "resetAll", "memberId"],
  components: {
    Modal,
    Button,
  },
  setup(props, context) {
    const TIMEOUT = 360;
    const currentView = ref<View>(View.Base);
    const paymentSuccess = ref<string>();
    const intervalId = ref();
    const countDown = ref<number>(TIMEOUT);

    const getPaymentProperty = (field: string) => {
      if (props.paymentMethod) {
        return (props.paymentMethod as any)[field];
      }
      return null;
    };

    const onClose = () => {
      if (paymentSuccess.value) {
        props.resetAll()
      }
      context.emit("close");
      clearInterval(intervalId.value);
    };

    const heading = computed(() => {
      switch (currentView.value) {
        case View.Result:
          return "Payment Summary";
        default:
          return "Payment";
      }
    });

    const isView = (view: View) => {
      return currentView.value === view;
    };

    const setView = (view: View) => {
      currentView.value = view
    }

    // payment image
    const paymentImageUri = computed(() => {
      if (props.paymentMethod) {
        const uri = paymentImageMap[props.paymentMethod.code];
        return uri ? require(`@/assets/img/payment/${uri}.svg`) : null;
      }
      return null;
    });
    const paymentMainImageUri = computed(() => {
      switch (props.paymentMethod.type) {
        case "qr":
          return require(`@/assets/img/payment/qr-reader.svg`);
        case "nfc":
          return require(`@/assets/img/payment/${
            props.paymentMethod.code === "apple" ? "nfc-iphone" : "nfc-card"
          }.svg`);
      }
      return null;
    });

    watch(
      () => props.show,
      () => {
        if (props.show) {
          countDown.value = TIMEOUT;
          startCountDown();
          setTimeout(() => {
            onPaymentRequest();
          }, 2000);
        } else {
          clearInterval(intervalId.value);
          setView(View.Base)
          paymentSuccess.value = ''
        }
      }
    );

    const startCountDown = () => {
      clearInterval(intervalId.value);
      intervalId.value = setInterval(() => {
        if (countDown.value > 1) {
          countDown.value--;
        }
        if (countDown.value === 1) {
          onClose();
        }
      }, 1000);
    };

    // fetch profile api
    const onPaymentRequest = async () => {
      try {
        const { response } = await API.createTransaction({
          mid: props.memberId,
          pyid: props.paymentMethod.pyid,
          products: props.checkoutItems
        })
        if (response) {          
          paymentSuccess.value = response.transaction_no
        }
        // console.log({ i, paymentId: props.paymentMethod.id });
      } catch (err) {
        console.log(err);
      } finally {
        setView(View.Result)
      }
    };

    return {
      countDown,
      heading,
      isView,
      onClose,
      getPaymentProperty,
      paymentImageUri,
      paymentMainImageUri,
      View,
      paymentSuccess,
    };
  },
});
</script>

<style lang="postcss" scoped></style>
