<template>
  <span class="stock" :class="{ in: props.status }">{{
    props.status ? "in stock" : "out of stock"
  }}</span>
</template>

<script setup lang="ts">
import { defineProps } from "vue";
const props = defineProps({
  status: Boolean,
});
</script>

<style lang="postcss" scoped>
.stock {
  @apply uppercase font-bold text-sm px-3 py-1 bg-gray-300;

  &.in {
    @apply bg-brightgreen;
  }
}
</style>
