<template>
  <!-- <div class="w-screen h-screen"> -->
  <div class="loading"  v-if="isLoading">
    <div
      class="
        loader
        ease-linear
        rounded-full
        border-8 border-t-8 border-gray-100
        h-28
        w-28
      "
    />
  </div>
  <router-view />
  <!-- </div> -->
</template>

<script lang="ts">
import { computed, defineComponent, onMounted } from "vue";
import { ipcRenderer } from "electron";
import { useStore } from "vuex";

export default defineComponent({
  setup() {
    onMounted(() => {
      // Synchronous message emmiter and handler
      // console.log(ipcRenderer.sendSync("synchronous-message", "sync ping"));
      // // Async message handler
      // ipcRenderer.on("asynchronous-reply", (event, arg) => {
      //   console.log(arg);
      // });
      // // Async message sender
      // ipcRenderer.send("asynchronous-message", "async ping");
    });

    const store = useStore();
    const isLoading = computed(() => {
      return store.state.isLoading
    })
    
    return { isLoading };
  },
});
</script>


<style lang="postcss" scoped>
.loading {
  @apply absolute h-screen w-screen bg-gray-800 bg-opacity-90 z-50 flex justify-center items-center backdrop-filter backdrop-blur-sm;
}

.loader {
  border-top-color: #c90e11;
  -webkit-animation: spinner 1.5s linear infinite;
  animation: spinner 1.5s linear infinite;
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
</style>

